*.pyc
*.pyo
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.idea
__pycache__/
.python-version
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
dist/
bower_components/
npm-debug.log
celerybeat-schedule
wheelhouse/
.lprof
